<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
            <!--                aria-controls="navbarResponsive"-->
            <!--                aria-expanded="false" aria-label="Toggle navigation">-->

            <span class="navbar-toggler-icon"></span>
        </button>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Strona Główna</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/regulations}">Regulamin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/sportfacilitytermsofuse}">Korzystanie z kortów</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/reservation}">Rezerwacja</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/contact}">Kontakty</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
                    <a class="nav-link" th:href="@{/administration}">Administracja</a>
                </li>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()" class="dropdown">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                Zalogowano jako: <span sec:authentication="name"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/player/editplayerdata}">Edytuj profil</a>
                <a class="dropdown-item">
                    <form method="post" th:action="@{/logout}">
                        <input type="submit" class="btn btn-dark" value="Wyloguj się">
                    </form>
                </a>
            </div>

        </div>

    </div>
</nav>

</body>
</html>