.bg-image {
    background-image: url('../images/court_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.row{
    background: rgba(161, 152, 152, 0.5);
}

.row:nth-of-type(odd) {
    background: rgba(255, 233, 233, 0.5);
}

