<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head.html :: header">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div style="background-color: ghostwhite" class="container-fluid p-1 text-dark text-center">
    <h1 style="font-family:'Microsoft Himalaya'">REZERWACJA OBIEKTÓW</h1>
</div>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div>
    tu bedzie strona z kontaktami do zawodnikow
</div>
</body>
</html>