<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head.html :: header">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div style="background-color: ghostwhite" class="container-fluid p-1 text-dark text-center">
    <h1 style="font-family:'Microsoft Himalaya'">REZERWACJA OBIEKTÓW</h1>
</div>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">


    <div class="container-md p-5 my-5">
        <form action="#"
              th:action="@{/player/editplayerdata}"
              th:object="${playerDto}"
              method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <input type="hidden" th:field="*{league}" id="league">
            <input type="hidden" th:field="*{playerLogin}" id="playerLogin">
            <input type="hidden" th:field="*{ableToBook}" id="ableToBook">
            <input type="hidden" th:field="*{role}" id="role">


            <div>
                <label class="control-label col-sm-2" for="firstName">Imię</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="imię">
                <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('firstName')}"
                     th:errors="*{firstName}"></div>
            </div>

            <div>
                <label class="control-label col-sm-2" for="lastName">Nazwisko</label>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Nazwisko">
                <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('lastName')}"
                     th:errors="*{lastName}"></div>
            </div>

            <div>
                <label class="control-label col-sm-2" for="password">Hasło</label>
                <input type="password" th:field="*{password}" id="password" placeholder="hasło">
                <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}"></div>
            </div>

            <div>
                <label class="control-label col-sm-2" for="retypedPassword">Powtórz hasło</label>
                <input type="password" th:field="*{retypedPassword}" id="retypedPassword" placeholder="powtórz hasło">
                <div class="invalid-feedback" style="display: block"
                     th:if="${#fields.hasErrors('retypedPassword')}"
                     th:errors="*{retypedPassword}"></div>
            </div>

            <div>
                <label class="control-label col-sm-2" for="phoneNumber">Numer telefonu</label>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="numer telefonu">
                <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('phoneNumber')}"
                     th:errors="*{phoneNumber}"></div>
            </div>

            <button type="submit" class="btn btn-primary">zapisz zmiany</button>
        </form>
    </div>

</div>
</body>
</html>