<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head.html :: header">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div style="background-color: ghostwhite" class="container-fluid p-1 text-dark text-center">
    <h1 style="font-family:'Microsoft Himalaya'">REZERWACJA OBIEKTÓW</h1>
</div>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">


    <div class="col-3">
        <form action="#"
              th:action="@{/editplayerdata/update/{id} (id=${playerDto.id})}"
              th:object="${playerDto}"
              method="post">
            <label for="phoneNumber">numer telefonu</label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="phone number">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            <button type="submit" class="btn btn-primary">zapisz zmiany</button>
        </form>
    </div>

<!--    <div class="col-3">-->
<!--    <form action="#"-->
<!--          th:object="${playerDto}"-->
<!--          th:action="@{/editplayerdata}"-->
<!--          method="post">-->
<!--        <label for="phoneNumber">numer telefonu</label>-->
<!--        <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="phone number">-->
<!--        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>-->
<!--        <button type="submit" class="btn btn-primary">zapisz zmiany</button>-->
<!--    </form>-->
<!--    </div>-->
</div>
</body>
</html>