<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head.html :: header">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div style="background-color: ghostwhite" class="container-fluid p-1 text-dark text-center">
    <h1 style="font-family:'Microsoft Himalaya'">REZERWACJA OBIEKTÓW</h1>
</div>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="row justify-content-md-center">
    <div class="card" style="width: 80rem;">
        <div class="card-body">

            <h2>Organizacja rozgrywek</h2>
            <p>
                1. Prowadzącymi rozgrywki są:
                Marcin ZABOROWSKI
                Dariusz SADOWCZYK
                <br>
                2. Rada Ligi w składzie:
                Przewodniczący: Marcin ZABOROWSKI
                Skarbnik: Dariusz DEJRYNG
                Dariusz SADOWCZYK
                <br>
                3. Komisja rewizyjna: Dariusz WICHLIŃSKI, Marek RYBANIEC.
                <br>
                4. Wszelkie decyzje podejmowane przez Radę Ligi zapadają większością głosów.
                <br>
                5. W sprawach spornych zawodnicy mogą wystąpić o rozpatrzenie sporu do prowadzących rozgrywki w terminie
                3 dni od
                dnia wystąpienia spornego zdarzenia. Wnioski wniesione po terminie nie będą rozpatrywane.
                <br>
                6. Prowadzący rozgrywki zawiadamiają zawodników o swojej decyzji w terminie 3 dni od dnia wniesienia
                wniosku.
                <br>
                7. Od decyzji Prowadzących rozgrywki przysługuje odwołanie do Rady Ligi.
                <br>
                8. Odwołanie jest wnoszone i rozpatrywane w terminach określonych w pkt. 6 i 7.
                <br>
                9. Decyzja Rady Ligi jest ostateczna.
                <br>
                10. W przypadku gdy spór dotyczy osoby wymienionej w pkt 1-3 podlega ona wyłączeniu od rozstrzygania
                sprawy, a w jej
                miejsce powoływany jest jeden z członków komisji rewizyjnej.
                <br>
                11. Liga KS WDA ŚWIECIE rozpoczyna się w dniu 17.04.2016 r. Zgłoszenia do godz.17.00.
                <br>
                12. Zawodnicy zobowiązani są do uiszczenia wpisowego w wysokości 50,00 PLN płatnych przed rozpoczęciem
                rozgrywek,
                Kobiety 70,00 PLN. Dzieci w wieku obowiązku szkolnego 25 zł.
                <br>
                13. Uczestnik rozgrywek ligowych zobowiązany jest do opłacenia składek za cały sezon ligowy oraz składki
                członkowskiej KS WDA ŚWIECIE, bez względu na okoliczności wynikłe w trakcie sezonu.
                <br>
                14. Nowo wstępujący członkowie sekcji w dniu zapisów dokonują wpłaty członkowskiej KS WDA SWIECIE oraz
                składki za
                okres turniej pierwszej ligi.
                <br>
                15. Punktacja Grand Prix Świecie:
                <br>
                1 miejsce 100 pkt.<br>
                2 miejsce 97 pkt.<br>
                3 miejsce 95 pkt.<br>
                4 miejsce 94 pkt.<br>
                kolejne miejsca o jeden punkt mniej.<br>

                16. Mistrzem Świecia jest zawodnik, który uzyska największą ilość punktów GP w trzech z czterech
                turniejów plus
                Turniej Masters. W przypadku identycznej ilości punktów o mistrzostwie decyduje wyższe miejsce zajęte w
                cyklu,
                następnie stosunek bezpośrednich pojedynków, ostatecznie wyższe miejsce w ostatnim turnieju.

            </p>
            <h2>Terminy</h2>
            <p>
            1. Terminy organizacyjne<br>

                <mark>18.04</mark> Pierwszy Turniej Ligowy singiel kobiet i mężczyzn<br>
                <mark>23.05</mark> Drugi Turniej Ligowy<br>
                <mark>27.06</mark>.Trzeci Turniej Ligowy<br>
                <mark>01.08</mark> Czwarty Turniej Ligowy<br>
                <mark>05.09</mark> Mastersy<br>

            2. Rozgrywki w ramach turniejów Masters rozgrywane są w kategoriach:<br>

              1) Open 1-8 z rankingu trzech z czterech turniejów<br>
              2) Turniej pocieszenia do 35 lat<br>
              3) Turniej pocieszenia od 36 lat<br>
              - o kategorii wiekowej decyduje rocznik tj. cały 1981 rocznik do 35 lat<br>


            3. System rozgrywek określony zostanie przez Radę Ligi na podstawie ilości zgłoszeń.
            <br>
            </p>
            <h2>System rozgrywek</h2>
            <p>

                1. Zawodnicy rozgrywają mecze w ligach po 16 zawodników. Prowadzący rozgrywki mogą określić inne zasady
                rozgrywania
                meczy dla najniższej ligi w zależności od ilości zgłoszeń. System podstawowy tabelaryczny pucharowy do
                dwóch
                przegranych meczy.
                <br>
                2. Zawodnicy zobowiązani są do rozgrywania meczy zgodnie z terminarzem rozgrywek.
                <br>
                3. Zasada ogólna: 1 mecz na 1 tydzień licząc od poniedziałku do niedzieli.
                <br>
                4. Terminarz szczegółowy zostanie każdorazowo opublikowany i ogłoszony na stronie www. oraz tablicy
                ogłoszeń przez
                Radę Ligi.
                <br>
                5. Po wyrażeniu zgody przez obu zainteresowanych zawodników mecze mogą być rozgrywane przed terminem
                określonym w
                harmonogramie oraz do 2 dni po terminie w szczególnie uzasadnionych przypadkach po uzgodnieniu z
                prowadzącym
                rozgrywki.
                <br>
                6. Mecze rozgrywane są minimum trzema nowymi piłkami (lub używane - zaakceptowane przez przeciwnika) na
                kortach
                ziemnych położonych na terenie KS WDA ŚWICIE. Dopuszcza się rozegranie meczów w innych miejscach za
                obopólną zgodą
                zawodników.
                <br>
                7. Rezerwację kortu oraz piłki powinien zapewnić gospodarz spotkania tj. osoba wymieniona w terminarzu
                rozgrywek na
                niższym miejscu.
                <br>
                8. Każdy z zawodników ma prawo jeden raz w sezonie wystąpić do Prowadzących rozgrywki o sędziowanie
                meczu.
                <br>
                9. Mecze rozgrywane są według następujących zasad: w setach do dwóch wygranych. Set do 6 pkt. W
                przypadku równej
                ilości punktów w secie rozstrzyga tie-break do 7 pkt. z przewagą 2 punktów powyżej stanu 6.
                <br>
                10. Trzech ostatnich zawodników z każdej ligi spada do ligi niższej, a w ich miejsce awansuje trzech
                pierwszych
                zawodników z ligi niższej z zastrzeżeniem postanowień. W przypadku rezygnacji z rozgrywek zawodnika
                spoza czterech
                spadkowiczów, awansuje piąty zawodnik z ligi niższej.
                <br>
                11. Rozstawia się w tabeli ośmiu najlepszych zawodników z poprzedniego turnieju.
                <br>
                12. Gospodarz w pierwszej rundzie jest to zawodnik wyżej rozstawiony. W kolejnych rundach gospodarzem
                jest zawodnik,
                który jako drugi dopisuje się do tabeli wyników.
                <br>
                13. Inicjatywa uściślania terminu spotkania, w przedziale czasu określonym w harmonogramie spoczywa na
                gospodarzu
                pojedynku, który powinien skontaktować się z przeciwnikiem najpóźniej w pierwszych dwóch dniach tego
                okresu. W
                przypadku niemożności uzgodnienia terminu spotkania lub braku inicjatywy ze strony gospodarza spotkania
                zainteresowani zawodnicy zobowiązani są niezwłocznie powiadomić o tym fakcie jednego z prowadzących
                rozgrywki.
                <br>
                14. Nierozegranie meczu w terminie określonym w harmonogramie spowoduje ukaranie walkowerem strony
                winnej
                nierozegrania meczu. W sytuacji, gdy nie można jednoznacznie ustalić winy zawodników prowadzący
                rozgrywki w
                uzgodnieniu z zawodnikami ustalają dodatkowy termin rozegrania meczu.
                <br>
                15. Gospodarz składając propozycje rozegrania meczu uwzględni minimum jeden dzień w weekend tj.
                sobota/niedziela
                oraz rozgrywanie meczy w dni powszednie w godzinach 15.30-20.00 jako zasada ogólna. W ramach stosunków
                koleżeńskich
                może być określony inny czas rozegrania meczu.
                <br>
                16. Dominującą zasadą sekcji jest NIE WCHODZENIE W SPORY POMIĘDZY ZAWODNIKAMI.
                <br>
                17. W przypadku niestawienia się na korcie w ciągu 15 minut od wyznaczonej godziny spotkania przyznaje
                się walkower
                zawodnikowi obecnemu. Zawodnicy mają prawo na minimum jedną godzinę przed rozpoczęciem meczu na
                odwołanie terminu
                lub przesunięcie czasu rozpoczęcia meczu. Zawodnicy mogą postanowić o rozegraniu spotkania pomimo
                spóźnienia.
                <br>
                18. W uzasadnionych przypadkach każdy z zawodników ma prawo przełożyć termin meczu (również już
                umówionego). Mecz
                powinien być rozegrany jednak nie później niż do końca kolejki ligowej.
                <br>
                19. Wszystkie mecze rozpoczęte a nie dokończone /warunki atmosferyczne/ dogrywane są od stanu, w którym
                mecz został
                przerwany nie później niż do końca następnej kolejki ligowej. O terminie rozegrania meczu gospodarz
                spotkania jest
                zobowiązany zawiadomić jednego z prowadzących rozgrywki.
                <br>
                20. W meczu przerwanym z powodu kontuzji jednego z zawodników jako końcowy uznaje się rezultat, w którym
                wszystkie
                brakujące do końca meczu gemy przyznaje się jako wygrane zawodnikowi zdolnemu do dalszej gry.
                <br>
                21. Obowiązek podania wyniku, ciąży na gospodarzu spotkania. Każdy zawodnik rozegranego meczu jest
                upoważniony do
                umieszczenia jego wyniku w tabeli wyników. Nie podanie wyniku meczu przez gospodarza spotkania w w/w
                terminie
                traktowane jest jako nierozegranie meczu z winy gospodarza i skutkuje przyznaniem walkowera
                przeciwnikowi.
                <br>
                22. Aktualne wyniki oraz inne informacje dotyczące rozgrywek będą podawane na tablicy ogłoszeń na
                kortach KS WDA
                ŚWIECIE.
                <br>
                23. W sprawach nieuregulowanych w niniejszym regulaminie decyzje podejmują Prowadzący rozgrywki oraz
                Rada Ligi.
                <br>
                24. Zawodnicy STZ KS WDA ŚWIECIE zobowiązani są do przestrzegania zasad zawartych w:
                <br>
                1) Regulaminie rozgrywek<br>
                2) Przepisach PZT oraz zasad amatorskiego sędziowania meczy tenisa ziemnego<br>
                3) Regulaminie porządkowym utrzymania kortów oraz zasad zachowania.
                <br>
            </p>
        </div>
    </div>
</div>
</body>
</html>